<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Confirmation</title>
  <base href="/confirmation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div class="container-fluid">
    <div class="alert alert-primary" role="alert" *ngIf="personalInfo.customerId">
      <h2 class="text-center">Congratulations {{personalInfo.firstName}}! Your account has been created!</h2>
        <p class="text-center">Account id: {{personalInfo.customerId}}</p>
    </div>
  </div>
</body>
</html>