@import ../nav-bar

$font-stack:    Helvetica, sans-serif
$sample-body-color: #333
$title-color: #001a00
$border-padding: 1000px 10px
$stackOverFlow-bg-color: #e8f0ff

%container-border
    padding: 10px
label
    color: $text-color
    font-weight: bold
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black
h1
  color: $title-color
  text-decoration: underline
.grid-container 
    display: grid
    grid-template-columns: auto auto auto auto auto
    background-color:  $card-color
    @extend %container-border

.grid-item 
    background-color: $stackOverFlow-bg-color
    border: 1px solid white
    @extend %container-border
    font-size: 30px
    text-align: center
.imgIcon
    width: 30px
.stackOverflow
    background-color:  $stackOverFlow-bg-color
    color: black
.stackOverflow:hover
    background-color: $card-color
    color: black
    text-decoration: none
.error-sign 
    color: red
    border-color: red

input.error-sign
    color: black
    border-color: red

form
    background-color: $card-color
    padding: 20px
.sample
    padding: $border-padding
    .form
        background-color: $card-color
.sample li
   list-style-type: none
.sample h1
    font: 100% $font-stack
    color: $sample-body-color
    text-align: center
.cr
    color: $title-color
    font-size: 10px
    text-align: center
    text-decoration: underline

=transform($property)
  -webkit-transform: $property
  -ms-transform:     $property
  transform:         $property

.box
  +transform(rotate(180deg))
  
%about-you
    text-align: right
.card-header
    @extend %about-you
.card
    padding: 10px
#firstNameTooltip
    border: 0
    background: transparent
.imgIcon
    width: 15px