<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <base href="/welcome">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <h1 id="personalInfoHeader" class="page-header text-center">Personal Information</h1>
  <div class="card">
    <br/>
      <form  id = "personalInfoForm" novalidate>
        <div class="card-header">
          <button id="aboutYou" class="btn btn-link" data-toggle="collapse" data-target="#profileCollapse" aria-expanded="true" aria-controls="collapseOne">
            <h4 >About You</h4>
          </button>
        </div>
        <div id="profileCollapse" class="collapse show" aria-labelledby="personalInfoHeader">
          <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                  <label for="name">First Name 
                      <button id="firstNameTooltip" role="button" data-toggle="popover" data-trigger="focus" data-html="true" 
                      data-content='<button type="button" id="close" class="close text-primary">&times;</button> <br/><div class="text-secondary"><strong>Please enter your first name</strong></div>'
                     ><img  class="imgIcon" src="https://www.kuleuven.be/studentenvoorzieningen/kot-leuven/icoontjes/question-mark-on-a-circular-black-background.png/image" alt="checkbox icon"></button></label>  
                  <input id="firstName" name="firstName" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" (ngModelChange)="onNameChange($event)" [(ngModel)]="personalInfo.firstName"   aria-describedby="nameHelp" placeholder="First Name">
                  <div [hidden]="validName" class="error">
                    <small class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid first name.</small>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <label for="lastName">Last Name</label>
                  <input name="lastName" id="lastName" type="text" [ngClass]="validLastName ? 'form-control' : 'form-control error-sign'"  (ngModelChange)="onLastNameChange($event)" [(ngModel)]="personalInfo.lastName"  aria-describedby="lastNameHelp" placeholder="Last Name">
                  <div [hidden]="validLastName" class="error">
                    <small id="lastNameHelp" class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid last name.</small>
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="Email">Email</label>
                  <input name="Email" id="Email" type="text" [ngClass]="validEmail ? 'form-control' : 'form-control error-sign'"  (ngModelChange)="onEmailChange($event)" [(ngModel)]="personalInfo.email"  aria-describedby="EmailHelp" placeholder="Email@Email.com">
                  <div [hidden]="validEmail" class="error">
                    <small id="EmailHelp" class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid email.</small>
                  </div>
                </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-4">
                <label for="Date">Date of birth: </label>
                <date-picker [ngClass]="validDate ? '' : ' error-sign'" (dateChanged)="onDateChange($event)" #child></date-picker> 
                <div [hidden]="validDate" class="error">
                  <small id="DateHelp" class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid Date, must be older than 18</small>
                </div>
              </div>
              <div class="col-md-4">
                <label for="Cell">Cell</label>
                <div class="input-group">
                  <input phone-num name="Cell" id="Cell" type="text" [ngClass]="validCell ? 'form-control' : 'form-control error-sign'"  (ngModelChange)="onCellChange($event)" [(ngModel)]="personalInfo.cell"  aria-describedby="CellHelp" placeholder="123-123-1234">
                </div>
                <div [hidden]="validCell" class="error">
                  <small id="CellHelp" class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid Cell.</small>
                </div>
              </div>
              <div class="col-md-4">
              <label for="sin">SIN:</label>
              <div class="input-group">
                <input sin name="sin" id="sin" type="password" class="form-control" [(ngModel)]="personalInfo.sin" [ngClass]="validSIN ? 'form-control' : 'form-control error-sign'"  (ngModelChange)="onSINChange($event)"  aria-describedby="SINHelp" placeholder="###-###-###">
                <div class="input-group-append">
                  <span class="input-group-text" id="maskedSin">{{personalInfo.sin | sinFilter}}</span>
                </div> 
              </div>
              <input type="checkbox" (click)="showSin()">Show Sin
              <div [hidden]="validSIN" class="error">
                    <small id="SINHelp" class="glyphicon glyphicon-warning-sign error-sign">Please Enter a valid SIN, ###-###-### </small>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
          <div class="alert alert-primary" role="alert" *ngIf="personalInfo.customerId">
            <h2 class="text-center">Congratulations {{personalInfo.firstName}}! Your account has been created!</h2>
              <p class="text-center">Account id: {{personalInfo.customerId}}</p>
          </div>
      </form >
  </div>
  <div class="card">
    <form id="addressForm">
      <div class="card-header">
        <button id="addressInformation" class="btn btn-link" data-toggle="collapse" data-target="#addressCollapse" aria-expanded="true" aria-controls="collapseOne">
          <h4 >Address Information</h4>
        </button>
      </div>
      <div id="addressCollapse" class="collapse show" aria-labelledby="addressInformation">
        <div class="card-body">
          <div class="container-fluid">
              <label for="autocomplete">Search</label>
              <input id="autocomplete" class="controls form-control" type="text" placeholder="Search Box">
            
              <div class="row">
                <div class="col-md-4">
                    <label for="street_number">Number</label>
                    <input id="street_number" name="street_number" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.street_number">
                </div>
                <div class="col-md-4">
                    <label for="route">Street Name</label>
                    <input  [(ngModel)]="personalInfo.route" (ngOnChange)="changeAddress($event)" id="route" name="route" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" >
                </div>
                <div class="col-md-4">
                    <label for="neighborhood">Town</label>
                    <input id="neighborhood" name="neighborhood" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.neighborhood" >
                </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <label for="locality">City</label>
                      <input id="locality" name="locality" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.locality" >
                  </div>
                  <div class="col-md-4">
                      <label for="administrative_area_level_1">Province</label>
                      <input id="administrative_area_level_1" name="administrative_area_level_1" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.administrative_area_level_1" >
                  </div>
                  <div class="col-md-4">
                      <label for="postal_code">Postal Code</label>
                      <input id="postal_code" name="postal_code" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.postal_code" >
                  </div>
                  <div class="col-md-4">
                      <label for="country">Country</label>
                      <input id="country" name="country" [ngClass]="validName ? 'form-control' : 'form-control error-sign'" type="text" [(ngModel)]="personalInfo.country">
                  </div>
              </div>
            </div>
        </div> 
      </div>
    </form>
  </div>
  <br/>
  <div class="text-center">
    <button id="submitButton" [disabled]="invalidForm()"(click)="submitForm()"class="btn center-block btn-primary">Submit</button>
  </div>
  <div class="sample">
    <h1>Styled with only css sass and partial sass files:</h1>
    <div class="form">
      <p>Be <b>bold</b> in stating your key points. Put them in a list: </p>
      <ul>
      <li>The first item in your list</li>
      <li>The second item; <i>italicize</i> key words</li>
      <li> Add an image to your list <img class="imgIcon" src="https://freeiconshop.com/wp-content/uploads/edd/task-done-outline.png" alt="checkbox icon"></li>
      </ul>

      <p>Link to my favourite website <a class="stackOverflow" target="_blank" href="https://stackoverflow.com/">Stack Overflow</a>! </p>  
      <h3>Sample grid with pure css:</h3>
      <div class="grid-container">
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>  
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
          <div class="grid-item">6</div>  
          <div class="grid-item">7</div>
          <div class="grid-item">8</div>
          <div class="grid-item">9</div> 
          <div class="grid-item">10</div>  
        </div>
    </div>
    <nav class="navBar">
          <h3>Sample Nav Bar</h3>
        <hr/>
          <ul>
            <li>
              <a href="">Test 1</a>
            </li>
            <li>
              <a href="">Test 2</a>
            </li>
            <li>
              <a href="">Test 3</a>
            </li>
            <li>
              <a href="">Test 4</a>
            </li>
          </ul>
        <hr/>
      </nav>
    <p class="cr">&#169; Sam Merante, 2018</p>
  </div>
  <div class ="box">
    <h2> MIXIM SASS</h2>
  </div>
</body>
</html>