nav.navBar h3 {
  text-align: center;
}

nav.navBar hr {
  padding: 10px;
}

nav.navBar {
  padding: 1px 10px;
  font-size: 25px;
}

nav.navBar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav.navBar li {
  display: inline-block;
  width: 25%;
  text-align: center;
}

nav.navBar a {
  display: block;
  padding: 6px  12px;
  text-decoration: none;
  background-color: #e8effc;
  color: black;
}

nav.navBar a:hover {
  background-color: #bababa;
  color: white;
}

.grid-container, .grid-item {
  padding: 10px;
}

label {
  color: #f6ff00;
  font-weight: bold;
  text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

h1 {
  color: #001a00;
  text-decoration: underline;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  background-color: #e8effc;
}

.grid-item {
  background-color: #e8f0ff;
  border: 1px solid white;
  font-size: 30px;
  text-align: center;
}

.imgIcon {
  width: 30px;
}

.stackOverflow {
  background-color: #e8f0ff;
  color: black;
}

.stackOverflow:hover {
  background-color: #e8effc;
  color: black;
  text-decoration: none;
}

.error-sign {
  color: red;
  border-color: red;
}

input.error-sign {
  color: black;
  border-color: red;
}

form {
  background-color: #e8effc;
  padding: 20px;
}

.sample {
  padding: 1000px 10px;
}

.sample .form {
  background-color: #e8effc;
}

.sample li {
  list-style-type: none;
}

.sample h1 {
  font: 100% Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

.cr {
  color: #001a00;
  font-size: 10px;
  text-align: center;
  text-decoration: underline;
}

.box {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card-header {
  text-align: right;
}

.card {
  padding: 10px;
}

#firstNameTooltip {
  border: 0;
  background: transparent;
}

.imgIcon {
  width: 15px;
}
/*# sourceMappingURL=welcome.css.map */