$card-color: #e8effc
$nav-color: $card-color
$hover-color: #bababa
$link-color: black
$link-hover: white
$border-padding: 10px
$text-color: #f6ff00

nav.navBar h3
  text-align: center
nav.navBar hr
  padding: $border-padding
nav.navBar
  padding: 1px $border-padding
  font-size: 25px
  ul
    margin: 0
    padding: 0
    list-style: none
    width: 100%
  li
    display: inline-block
    width: 25%
    text-align: center

  a
    display: block
    padding: 6px  12px
    text-decoration: none
    background-color: $nav-color
    color: $link-color
  a:hover
    background-color: $hover-color
    color: $link-hover