h1 {
  color: red;
}

.card-header {
  text-align: right;
}

.imgIcon {
  width: 20px;
}

.text-info .popover-content {
  background-color: red;
}

#firstNameTooltip {
  border: 0;
  background: transparent;
}
/*# sourceMappingURL=testing.css.map */