<ng-template #tipContent>
    <button type="button" id="close" class="close text-primary" (click)="t.close()">&times;</button>
    <br/>
  {{text}} 
</ng-template>
<button id="aboutYou" class="btn btn-link" placement="right" (blur)="t.close()" triggers="manual"  #t="ngbTooltip" [ngbTooltip]="tipContent" (click)="t.open()">
    <img  class="imgIcon" src="https://www.kuleuven.be/studentenvoorzieningen/kot-leuven/icoontjes/question-mark-on-a-circular-black-background.png/image" alt="Info tooltip icon">
</button>
