h1
    color: red
    
%about-you
    text-align: right
.card-header
    @extend %about-you
.imgIcon
    width: 20px
.text-info .popover-content
    background-color: red
#firstNameTooltip
    border: 0
    background: transparent
.tooltip
    background-color: red